<?php

use AxisCare\Enumerable\MimeType;
use AxisCare\Model\Statement;
use AxisCare\View\Renderer\RenderHtmlInterface;
use AxisCare\View\Renderer\RenderTextInterface;
use AxisCare\View\Renderer\StatementRenderer;

return [
    'movieClassifications' => [
        [
            'id' => 0,
            'name' => 'Regular',
            'pointsProfile' => 1,
            'rateProfile' => 1,
        ],
        [
            'id' => 1,
            'name' => 'New Release',
            'pointsProfile' => 2,
            'rateProfile' => 2,
        ],
        [
            'id' => 2,
            'name' => 'Childrens',
            'pointsProfile' => 2,
            'rateProfile' => 3,
        ]
    ],
    'pointsProfiles' => [
        [
            'id' => 1,
            'basePoints' => 1,
            'bonusPoints' => 0,
            'bonusPointsThreshold' => 1,
        ],
        [
            'id' => 2,
            'basePoints' => 1,
            'bonusPoints' => 1,
            'bonusPointsThreshold' => 1,
        ],
    ],
    'rateProfiles' => [
        [
            'id' => 1,
            'baseRate' => 2,
            'rate' => 1.5,
            'rateThreshold' => 2,
        ],
        [
            'id' => 2,
            'baseRate' => 0,
            'rate' => 3,
            'rateThreshold' => 0,
        ],
        [
            'id' => 3,
            'baseRate' => 1.5,
            'rate' => 1.5,
            'rateThreshold' => 3,
        ],
    ],
    'supportedMimeTypes' => [
        MimeType::WILDCARD => RenderHtmlInterface::class,
        MimeType::TEXT_HTML => RenderHtmlInterface::class,
        MimeType::TEXT_PLAIN => RenderTextInterface::class,
    ],
    'viewRendererPlugins' => [
        Statement::class => StatementRenderer::class,
    ],
];
