<?php

return [
    'priceCodes' => [
        [
            'id' => 0,
            'name' => 'Regular',
            'priceMultiplier' => 1,
            'daysRentedThreshold' => 1,
        ],
        [
            'id' => 1,
            'name' => 'New Release',
            'priceMultiplier' => 1,
            'daysRentedThreshold' => 1,
        ],
        [
            'id' => 2,
            'name' => 'Childrens',
            'priceMultiplier' => 1,
            'daysRentedThreshold' => 1,
        ],
    ]
];
