<?php

return [
    'priceCodes' => [
        [
            'id' => 0,
            'name' => 'Regular',
            'priceMultiplier' => 1.5,
            'daysRentedThreshold' => 2,
            'flatRate' => 2,
        ],
        [
            'id' => 1,
            'name' => 'New Release',
            'priceMultiplier' => 3,
            'daysRentedThreshold' => 0,
            'flatRate' => 0,
            'bonusFrequentRenterPoints' => 1,
            'bonusFrequentRenterPointsThreshold' => 1,
        ],
        [
            'id' => 2,
            'name' => 'Childrens',
            'priceMultiplier' => 1.5,
            'daysRentedThreshold' => 3,
            'flatRate' => 1.5,
        ],
    ]
];
